.web3modal-lightbox {
  transition: opacity 0.1s ease-in-out 0s;
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  top: 0px;
  left: 50%;
  z-index: 2;
  will-change: opacity;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.web3modal-container {
  transition: all .3s ease;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.web3modal-card {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  margin: 10px;
  padding: 0px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  max-width: 400px;
  min-width: fit-content;
  max-height: 100%;

  .web3modal-close-button {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid rgba(187, 187, 187, 0.589);
    box-shadow: 0 1px 2px 0 rgb(184, 184, 184);
    width: 38px;
    height: 38px;
    cursor: pointer;

    &:hover {
      transition: all .2s ease;
      background-color: #eee;
    }
    
    &:before, &:after {
      position: absolute;
      top: 18px;
      left: 8px;
      width: 20px;
      height: 2px;
      border-radius: 10px;
      background-color: rgba(102, 102, 102, 0.692);
      box-shadow: 0 0 1px 0 rgb(184, 184, 184);
      content: '';
      display: block;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.web3modal-provider-container {
  transition: background-color 0.2s ease-in-out 0s;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 24px 16px;
}

.web3modal-provider-wrapper {
  width: 100%;
  padding: 8px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0px;
  border: 1px solid rgba(195, 195, 195, 0.14);

  &:hover {
    .web3modal-provider-container{
      background-color: rgba(195, 195, 195, 0.356);
    }
    
  }
}



.web3modal-provider-icon {
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 50%;
  overflow: visible;
  box-shadow: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
  }
}

.web3modal-provider-name {
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  margin-top: 0.5em;
  color: rgb(12, 12, 13);
}

.web3modal-provider-description {
  width: 100%;
  font-size: 18px;
  margin: 0.333em 0px;
  color: rgb(169, 169, 188);
}
