.mongooses {
	padding-top: 4rem;
	padding-bottom: 4rem;
	&-header {
		margin-bottom: 3rem;
		.heading {
			font-size: clamp(3.5rem, 6.5vw, 5.0rem);
			line-height: 1;
			font-weight: bold;
			margin-bottom: 0;
		}
		.sub-heading {
			font-size: clamp(3.5rem, 6.5vw, 5.2rem);
			line-height: 1;
			font-weight: bold;
			color: #ff5254;
			margin-bottom: 0;
		}
	}
	.button-mongo {
		position: relative;
		height: 100%;
		text-align: center;
		background-color: #ff5254;
		color: #fff;
		padding: 1rem;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 320px;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			background-size: cover;
			object-fit: contain;
		}
		
		.icon {
			font-size: 3rem;
			color: #fff;
		}
	}
}

.image-block {
	>div {
		width: 100% !important;
		height: 100% !important;
	}
	img {
		width: 100%;
		height: 100%;
	}
}