.about {
	min-height: 100vh;
	background-image: url('./images/about-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2.5rem 0 2.5rem;
	position: relative;

	@media (max-width: 767px) {
		padding: 1.5rem 0 0;
	}

	&-left-image {
		object-fit: cover;
		max-width: 100%;
		@media (min-width: 1200px) {
			position: relative;
			// bottom: -120px;
		}
		@media (max-width: 991px) {
			max-width: 50vw;
			display: block;
			margin: 0 auto 1.5rem;
		}
	}

	&-caption {
		img {
			object-fit: cover;
			width: 70%;
		}
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
