.banner {
	position: relative;
	min-height: auto;
	position: relative;
	padding-top: 52px;
	@media (min-width: 991px) {
		padding-top: 65px;
	}


	.scroll-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 50px;
		z-index: 10;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-decoration: none;
		color: white;
		.icon {
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			border: 1px solid white;
			margin-bottom: 5px;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	left: 0;
	// 	bottom: 0;
	// 	width: 540px;
	// 	height: 811px;
	// 	background: url('./images/left.png');
	// 	object-fit: cover;
	// }
	// &::after {
	// 	content: '';
	// 	position: absolute;
	// 	right: 0;
	// 	bottom: 0;
	// 	width: 540px;
	// 	height: 811px;
	// 	background: url('./images/right.png');
	// 	object-fit: cover;
	// }

	@media (max-width: 991px) {
		&::before,
		&::after {
			display: none;
		}
	}

	.caption {
		position: relative;
		z-index: 10;
		padding-top: 25px;
		h1 {
			font-size: clamp(3rem, 8.5vw, 8rem);
			margin-bottom: 0;
		}
		h2 {
			font-size: clamp(2rem, 5.5vw, 5rem);
			margin-bottom: 0;
		}
	}
}
